html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background: #000000;
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

#notSupportedWrap {
	margin: 2em auto 1em auto;
	width: 75%;
	max-width: 45em;
	border: 2px solid #aaa;
	border-radius: 1em;
	padding: 2em;
	background-color: #f0f0f0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: black;
}

#notSupportedTitle {
	font-size: 1.8em;
}

.notSupportedMessage {
	font-size: 1.2em;
}

.notSupportedMessage em {
	color: #888;
}


@font-face {
	font-family: 'daydream';
	src: url('fonts/daydream.ttf') format('truetype');
}

@font-face {
	font-family: 'mario64';
	src: url('fonts/mario64.ttf') format('truetype');
}

@font-face {
	font-family: 'minecraft';
	src: url('fonts/minecraft.ttf') format('truetype');
}

@font-face {
	font-family: 'motorolascreentype';
	src: url('fonts/motorolascreentype.ttf') format('truetype');
}

@font-face {
	font-family: 'perfect dos vga 437';
	src: url('fonts/perfect dos vga 437.ttf') format('truetype');
}

@font-face {
	font-family: 'pressstart2p-regular';
	src: url('fonts/pressstart2p-regular.ttf') format('truetype');
}

@font-face {
	font-family: '8-bit-pusab';
	src: url('fonts/8-bit-pusab.ttf') format('truetype');
}

@font-face {
	font-family: '321impact';
	src: url('fonts/321impact.ttf') format('truetype');
}

@font-face {
	font-family: 'bloodblocks project';
	src: url('fonts/bloodblocks project.ttf') format('truetype');
}

@font-face {
	font-family: 'bates shower';
	src: url('fonts/bates shower.ttf') format('truetype');
}

@font-face {
	font-family: 'bloodlust';
	src: url('fonts/bloodlust.ttf') format('truetype');
}

@font-face {
	font-family: 'dark mage';
	src: url('fonts/dark mage.ttf') format('truetype');
}

@font-face {
	font-family: 'lethal slime';
	src: url('fonts/lethal slime.ttf') format('truetype');
}

@font-face {
	font-family: 'madjoe';
	src: url('fonts/madjoe.ttf') format('truetype');
}

@font-face {
	font-family: 'october crow';
	src: url('fonts/october crow.ttf') format('truetype');
}

@font-face {
	font-family: 'shadow of the deads';
	src: url('fonts/shadow of the deads.ttf') format('truetype');
}

@font-face {
	font-family: 'tales of scare black';
	src: url('fonts/tales of scare black.ttf') format('truetype');
}

@font-face {
	font-family: 'true lies';
	src: url('fonts/true lies.ttf') format('truetype');
}

@font-face {
	font-family: 'who asks satan';
	src: url('fonts/who asks satan.ttf') format('truetype');
}

@font-face {
	font-family: 'curse of the zombie';
	src: url('fonts/curse of the zombie.ttf') format('truetype');
}

